<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Cadastrar Médico</h1>
    <form action="{{ url_for('medico.cadastrar_medico') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required><br>

        <label for="crm">CRM:</label>
        <input type="text" name="crm" required><br>

        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" required><br>

        <button type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar para a Página Inicial</a>
</body>
</html>
