<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Berçário - Sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Bem-vindo ao Sistema de Controle do Berçário</h1>
    <ul>
        <li><a href="{{ url_for('mae.cadastrar_mae') }}">Cadastrar Mãe</a></li>
        <li><a href="{{ url_for('medico.cadastrar_medico') }}">Cadastrar Médico</a></li>
        <li><a href="{{ url_for('nascimento.cadastrar_nascimento') }}">Registrar Nascimento</a></li>
        <li><a href="{{ url_for('nascimento.listar_nascimentos') }}">Listar Nascimentos</a></li>
    </ul>

      <!-- Exibe o botão de logout se o usuário estiver logado -->
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('auth.logout') }}"><button>Logout</button></a>
      {% endif %}
    
</body>
</html>
